@using MyBlog.Areas.MyBlog.Models;

@model IEnumerable<Article>

@foreach (var v in Model)
{
    <article class="am-g blog-entry-article">
        <div class="am-u-md-12 am-u-sm-12 blog-entry-text">
            @Ajax.ActionLink("article2", "Blog2","Home",new { id=@v.Id },new AjaxOptions { UpdateTargetId= "wasd", InsertionMode=InsertionMode.ReplaceWith,HttpMethod="Get" },new { })
            <span><a href="MyBlog/blog?id=@v.Id" class="blog-color">article &nbsp;</a></span>
            <span> @v.Author &nbsp;</span>
            <span>@v.Date</span>
            <h1><a href="MyBlog/blog?id=@v.Id">@v.Theme</a></h1>
            <p>
                @v.Describe
            </p>
            <p><a href="" class="blog-continue">continue reading</a></p>
        </div>
    </article>
}
