@using MyBlog.Areas.MyBlog.Models;
@model Article

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MyBlog/Views/Shared/_Layout.cshtml";

    //var tagList = new List<SelectListItem>()
    //{
    //    (new SelectListItem(){ Selected=false,Text=".Net",Value=".Net" }),
    //    (new SelectListItem(){ Selected=false,Text="C#",Value="C#" }),
    //    (new SelectListItem(){ Selected=false,Text="IIS",Value="IIS" }),
    //};
    //if(Model!=null)
    //{
    //    tagList.Where(t => t.Value == Model.Tag).First().Selected = true;
    //}
}
<form action="/MyBlog/blog/EditeResult" method="post" onsubmit="return getEditor()">
    <div class="am-form">
        <div class="am-form-group">
            <label>主题</label>
            @if (Model == null)
            {
                @Html.TextBox("theme", "", "", new { placeholder = "请输入主题" })
                @Html.Hidden("id", "0");
            }
            else
            {
                @Html.TextBox("theme", Model.Theme, "", null)
                @Html.Hidden("id", Model.Id);
            }

        </div>
        <div class="am-form-group am-form-select">
            <label for="txtTag">标签</label>
            @*@Html.DropDownList("tag", tagList, new { @class = "am-input-lg" })*@
            @if (Model == null)
            {
                @Html.TextBox("tag", "", "", new { placeholder = "请输入标签" })
            }
            else
            {
                @Html.TextBox("tag", Model.Tag, "", null)
            }
        </div>

        <div class="am-form-group ">
            <label for="txtDescribe">描述</label>
            @if (Model == null)
            {
                @Html.TextBox("describe", "", "", new { placeholder = "请简要描述下问题" })
            }
            else
            {
                @Html.TextBox("describe", @Model.Describe, "", null)
            }
        </div>

        <div id="weditor">

        </div>
        @if (Model == null)
        {
            @Html.Hidden("blog", "")
        }
        else
        {
            @Html.Hidden("blog", Model.Blog)
        }

        @*注意， 只需要引用 JS，无需引用任何 CSS ！！！*@
        <script type="text/javascript" src="~/Scripts/Editor/JS/wangEditor.min.js"></script>
        <script type="text/javascript">
            var E = window.wangEditor
            var editor = new E('#weditor')
            // 或者 var editor = new E( document.getElementById('#editor') )
            //editor.customConfig.uploadImgServer = '/upload'
            editor.create()
            editor.txt.html(document.getElementById('blog').value)
            function getEditor() {
                document.getElementById('blog').value = editor.txt.html()
            }
            //document.getElementById('btn2').addEventListener('click', function () {
            //    // 读取 text
            //    alert(editor.txt.html())
            //}, false)
        </script>
        <button type="submit" class="am-btn am-btn-default">提交文章</button>
    </div>
</form>
